<%- include('../partials/sidebar.ejs')%>
<div class="about-info">
    <section>
        <img width=250 src="../../assets/images/pr0ton-logo-dark.svg"><br><br>
        <span class="headline">Über Pr0ton</span><br>
        <span>Pr0ton wurde entwickelt von dem Nutzer <a href="javascript:ipcRenderer.send('loadStream', 'user-Burgerboss')">Burgerboss</a>.</span><br><br>
        Icons: <a href="https://materialdesignicons.com" target="_blank">MDI</a><br>
        Font: <a href="https://fonts.google.com/specimen/Source+Sans+Pro" target="_blank">Source Sans Pro</a><br><br>

        Vielen Dank an <a href="javascript:ipcRenderer.send('loadStream', 'user-5yn74x')">5yn74x</a> für das bereitstellen der <a target="_blank" href="https://github.com/NuGetHub/pr0gramm-api-dokumentation">API-Dokumentation!</a>
    </section>  
</div>